:root{
    --color1: #10476B;
    --color2: #1A71AB;
    --color3: #249BEB;
    --color4: #25A3F7;
    --color5: #1F8AD1;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #03043f;
}

body{
    background-color: var(--color3);
}

h1{
    color: var(--color1);
    text-align: center;
    text-shadow:var(--color5) 2px 2px 2px;
    margin-top: 5vh;
    font-size: 32pt;

}

canvas{
    height: 560px;
    width: 420px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: 13vh;
    margin-bottom: 5vh;

    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

div{
   margin-left: 10px; 
}

#next{
    height: 120px;
    width: 120px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: 17vh;
    margin-bottom: 5vh;

    margin-left: 22px;

}